

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 140px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 11px;
}
.nav-link{
    display: flex;
    list-style: none;
    gap: 32px;
    
}
.nav-link a{
    text-decoration: none;
}
.school{
  font-weight: bold;  
  font-size: 2rem;
  width: 129px;
  height: 30px;
  color: rgba(17, 17, 17, 1);
}
.nav-link .home{
    font-weight: bold;
    font-size: 1.25rem;
   color: #FEA301;
}
.nav-link .About{
   font-weight: 600px;
   font-size: 1.25rem; 
   color: #01ACFD;
}  
.nav-link .Facilities{
    font-weight: 600px;
    font-size: 1.25rem;
    color: #05D4DF;
}
.nav-link .Admission{
    font-weight: 600px;
    font-size: 1.25rem;
    color: #5D58EF;
}
.btn-primary{
    background-color: #FEA301;
    border-radius: 12px;
    padding: 10px;
    width: 197px;
    height: 50px;
    color: white;
    border-style: none;
    
}
 /* banner style */
 .banner{
    display: flex;
    justify-content: space-between;
    margin: 20px 140px;
    align-items: center;
    gap: 50px;
 }
 .Dynamic-World{
    width: 640px;
    height: 331px;
 }
 .Contribution{
    font-weight: bold;
    font-size: 3.5rem;
 }
 .span1{
    color: #FEA301;
 }
 .span3{
    color: #01ACFD;
 }
.Confidence{
    font-weight: 400px;
    font-size: 1.25rem;
    margin-top: 24px;
    margin-bottom: 24px;
}
.Enroll-Now{
   background-color: #111111; 
   color: white;
   border-radius: 12px;
   width: 197px;
height: 50px;
}

/* Standard Curriculum  */
.Standard{
    background-image: url(../assets/bg.png);
}

.section-title{
   text-align: center; 
   font-weight: bold;
   font-size: 2.87rem;
   padding: 60px;
  
}

.Curriculum{
    display: flex;
    justify-content: space-around;
    gap: 28px;
    margin: 80px 140px;
    
}
.Kinder{
 box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.1);  
 align-items: center;
 border-radius: 18px;
 width: 367px;
 height: 476px;

 background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
 #fff;
}
.assets{
    padding: 52px 115px 32px 115px;
}
.Elementary{
    box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.1);  
    text-align: center;
    border-radius: 18px;
    width: 367px;
    height: 476px;
    background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
} 
.Middle{
    box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.1);  
    text-align: center;
    border-radius: 18px;
    width: 367px;
    height: 476px;
    background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
}
.image-title{
    font-weight: bold;
    font-size: 1.56rem;
    padding-left: 78px;

}
.image-paragrap{
   font-weight: 400px; 
   font-size: .94rem;
   color: #808080;
    padding-left: 40px;
}
   .Read-More{
    font-weight: bold;
    font-size: .93rem;
    color: #64C8FF;
    padding: 33px 132px 53px 132px;
   }
 
/*  our story */
.main-title{
    font-weight: bold;
    font-size: 2.88rem;
    text-align: center;
    margin: 60px 489px 80px 489px;
}
.row{
    display: flex;
    justify-content: center;
    gap: 18px;
    background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
    #fff;
    

}

.story1{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 30px;
    border-radius: 16px;
}
.classroom{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 47px 38px;
}
.platform{
    font-weight: 400px;
    font-size: .94rem;
    color: #666666;
    margin-bottom: 47px;
    padding-left: 38px;
}

.story{
    display: flex;
    gap: 10px;
}
 .the-family{
    display: flex;
    justify-content: center;
    gap: 18px;
 }
 .needs{
   height: 310px;
   border-radius: 10px;
   padding-top: 20px;
   box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3)
   
   
 }
 .Find{
    width: 198px;
    height: 48px;
   
 }
 .literacy{
    height: 310px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3)
 }
 .management{
    height: 310px;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3)
 }
 .Conversation {
    height: 310px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3)
 }
 



/*  footer */
.column-title{
    display: flex;
}
.footer-title{
    display: flex;
    justify-content: space-around;
    background-color:#01ACFD ;
    width: 100%px;
    height: 519px;
    padding-top: 123px;
}
 a{
   text-decoration: none;
   list-style: none;
}

.footer-paragap{
    font-weight: 400px;
    font-size: 1.25rem;
    color: white;
    width: 399px;
}
.footer-column ul{
    list-style: none;
    
}
.About-School{
   color: white; 
   font-weight: 400px;
   font-size: 1.25rem;
}
.About{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.Touch{
    font-weight: bold;
    font-size: 1.62rem;
    color: white;
}
.Kids{
    color: white;
    font-weight: bold;
    font-size: 2.62rem;

}
.Kids-Education{
    color: white;
    width: 82px;
   
}
.footer-column{
    margin-right: 243px;
}




/* header media quary */
@media screen and (max-width:412px) {
    .banner{
        flex-direction: column-reverse;
        text-align: center;
        justify-items: center;
        
    }
    .navbar{
flex-direction: column;
justify-items: center;
    }
    .Contribution, .Confidence{
      text-align: center; 
    }
    .child{
        margin: auto;
        width: 400px;
    }
    .Dynamic-World{
        width: 400px;
        padding-bottom:250px;
    }
    .nav-link{
        margin: 20px 130px;
    }
}
/*  standard Curriculum  */
@media screen and (max-width:412px) {
    .Curriculum{
       flex-direction: column; 
       justify-content: center;
       align-items: center;
       text-align: center;
      
    }
}
/*  our story */
@media screen and (max-width:412px) {
    .story1{
        display: none;
    }
    .the-family{
        flex-direction: column;
        
    }
    .main-title{
        margin: 20px 20px;
    }
  
}

/*  footer */
@media screen and (max-width:412px) {
    .column-title, .footer-title{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
   .column-title{
    text-align: center;
    padding-left: 20px;
   }
}